body {
  background: linear-gradient(#0b699a, #00052a);
}

nav.glass {
  background: rgba(0, 0, 0, 0.63) !important;
}

.bonus {
  color: #f6a821;
}

.area {
  text-align: center;
  font-size: 6.5em;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff,
    0px 0px 10px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 25px #fff,
    0px 0px 50px #fff,
    0px 0px 50px #fff,
    0px 0px 50px #7B96B8,
    0px 0px 150px #7B96B8,
    0px 10px 100px #7B96B8,
    0px 10px 100px #7B96B8,
    0px 10px 100px #7B96B8,
    0px 10px 100px #7B96B8,
    0px -10px 100px #7B96B8,
    0px -10px 100px #7B96B8;
  }
}

/*Bonus animation*/
.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
  /*font-family: neon;*/
  color: #FB4264;
  font-size: 12vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;

  margin-top: -0.25em;
  margin-bottom: 0.25em;
}

.flux {
  /*font-family: neon;*/
  margin-bottom: 2vh;

  color: #426DFB;
  font-size: 6vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;

}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #E4C25E;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}
/*Bonus END*/

/*Clock Start*/
div#text {
  text-align:center;
  border:5px solid #1086e8;
  border-radius:20px;
  margin: 0;
  animation: border-flicker 2s linear infinite;
}

.test {
  color:#f1af17;
  font-size:2em;
  letter-spacing:3px;
  animation: text-flicker 3s linear infinite;
}

#offset {
  /*animation: letter-flicker 2s linear infinite;*/
}

@keyframes text-flicker {
  0% {
    opacity:1;
    text-shadow: 0px 0px 29px rgb(241, 220, 51);
  }
}

@keyframes border-flicker {
  0% {
    /*opacity:0.1;*/
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  20% {
    /*opacity:0.2;*/
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }

  50% {
    /*opacity:0.5;*/
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  70% {
    /*opacity:0.7;*/
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
  100% {
    /*opacity:1;*/
    -webkit-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
    box-shadow: 0px 0px 78px 4px rgba(16,134,232,0.73);
  }
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  2% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  4% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }


  19% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  21% {
    opacity:0.1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  23% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }

  80% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
  87% {
    opacity:1;
    text-shadow: 0px 0px 29px rgba(242, 22, 22, 1);
  }
}
/*Clock END*/

/*Dashboard Start*/
body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/*Dashboard END*/




