<div class="row" style="padding-bottom: 0.5em; margin-top: 1em; border-bottom: 1px solid; margin-bottom: 2em;">
  <div class="col-md-10">
    <h4>{{user.id ? 'Редактирование' : 'Создание'}} пользователя</h4>
  </div>
  <div class="col-md-2">
    <button class="btn btn-secondary" routerLink="/admin/main">Назад</button>
  </div>
</div>

<form (ngSubmit)="save()">
  <div class="form-group">
    <label for="name">Имя</label>
    <input type="text"
           class="form-control"
           id="name"
           [(ngModel)]="user.name"
           name="name"
           placeholder="Введите имя">
  </div>

  <div class="input-group mb-3">
    <label for="bonusSum" style="width: 100%;">Текущий бонус</label>

    <input type="text"
           class="form-control"
           id="bonusSum"
           name="bonusSum"
           value="{{bonusSum}}"
           disabled
           style="cursor: default; background-color: #ffffff;"
           placeholder="Бонус">
    <div class="input-group-append">
      <button class="btn btn-primary"
              type="button"
              (click)="showAddBonusInput()">
        Добавить бонус
      </button>
    </div>
  </div>

  <div class="input-group mb-3" *ngIf="showAddBonusForm">
    <label for="bonus" style="width: 100%;">Добавить бонус</label>

    <input type="text"
           class="form-control"
           id="bonus"
           name="bonus"
           [(ngModel)]="bonus"
           placeholder="Введите бонус">
    <div class="input-group-append">
      <button class="btn btn-success" type="button" (click)="addBonus()">Добавить</button>
      <button class="btn btn-secondary" type="button" (click)="cancelAddBonus()">Отменить</button>
    </div>
  </div>

  <button class="btn btn-primary">Сохранить</button>
  <button role="button"
          class="btn btn-secondary"
          routerLink="/admin/main">
    Отмена
  </button>

</form>
